{{>header}}
<h1>May allah help you</h1>
<ul>
    <li>Write the name of the cit you want to know it's weather forecast</li>
    <li>If it is not the first choice, there is more cities under the main city</li>
    <li>You can choose your city from them</li>
</ul>
{{>footer}}